<div>
  <div class="flex flex-row gap-4 mb-4 items-center justify-center">
    <label>Year</label>

    <input type="number" appearance="outline" placeholder="1" />
  </div>
  <div class="flex flex-row gap-2">
    <button>Spring</button>
    <button>Summer</button>
    <button>Fall</button>
    <button>Winter</button>
  </div>
  <div class="grid grid-cols-7 gap-1">
    @for (day of days; track day) {
      <button class="flex h-8 w-8 items-center justify-center rounded-lg text-sm hover:bg-gray-100">
        {{ day }}
      </button>
    }
  </div>
  <div>
    <mat-label>Time</mat-label>
    <input [matTimepicker]="picker" class="ml-4 border border-gray-300 rounded-lg px-2 py-1" />
    <mat-timepicker #picker interval="30m" panelClass="custom-timepicker" />
  </div>
</div>
